[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/local/bin/vim
  pager = less -q -R
[user]
  name = kaminora
  email = kaminoura9207@gmail.com
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[init]
	templatedir = ~/.git_tmp
[alias]
  ctags = !.git/hooks/ctags
  logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
  soft = !git reset --soft HEAD^
  hard = !git reset --hard HEAD^
  rebase1= !git rebase -i HEAD~
  see  = !hub browse -- pull/$(git symbolic-ref --short HEAD)
[push]
  default = current
[github]
  user = kaminora
[commit]
  template = ~/.git_commit_template
